@charset "utf-8";
/* love TY Movies system
   爱TY影视系统 atyys.com
   by 、 TY
   Write your styles 
*/

body {
    background-color: #f4f4f4;
    font-size: 14px;
}

.am-container {
    max-width: 1200px;
}

/* 顶部导航栏背景色 */
.am-topbar {
    background: #fff;
}
/* 左上角站标颜色 */
.web-name {
    color: #6D7C84!important;
}

/* 顶部观看记录 */
@media only screen and (max-width: 640px) {
    .am-dropdown {
        display: block;
    }
}

.am-slides {
    background-color: #000;
}

/* 标题栏去缩进 */
.am-titlebar-default {
    margin-left: 0;
    margin-right: 0;
}

/* 电影展示块 */
.movie-description, .movie-title, .movie-tags, .right-list li a {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
.movie-item {
    display: block;
    width: 100%;
    max-width: 178px;
    height: 262px;
    cursor: pointer;
    margin: 2px auto;

}
.movie-cover {
    width: 100%;
    height: 208px;
    position: relative;
    overflow: hidden;
}
.movie-cover>img {
border-radius:10px;
    display: block;
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 550px) {
    .movie-item {
        height: 242px;
    }
    .movie-cover {
        height: 188px;
    }
}
@media only screen and (max-width: 500px) {
    .movie-item {
        height: 222px;
    }
    .movie-cover {
        height: 168px;
    }
}
@media only screen and (max-width: 450px) {
    .movie-item {
        height: 202px;
    }
    .movie-cover {
        height: 148px;
    }
}
@media only screen and (max-width: 400px) {
    .movie-item {
        height: 182px;
    }
    .movie-cover {
        height: 128px;
    }
}
.movie-description {
    position: absolute;
    width: 100%;
    bottom: -51px;
    height: 75px;
}
.movie-description>.description-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.movie-description>p {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    margin: 0 10px;
    color: #fff;
    font-size: 12px;
    position: relative;
}
.movie-item:hover .movie-description {
    bottom: 0;
}
.movie-title {
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
    background-color: #fff;
    width: 100%;
    padding: 5px 0;
    position: relative;
}
.movie-item:hover>.movie-title {
    background-color: #f60;
    color: #fff;
}
.movie-title>p {
    font-size: 14px;
    padding: 0 10px;
    margin: 0;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-align: center;
}
.movie-title>.movie-tags {
    font-size: 12px;
    color: #999;
}
.movie-item:hover>.movie-title>.movie-tags {
    color: #fff;
}

@media only screen and (min-width: 640px) and (max-width: 1025px) {
    .tv-lists li:nth-child(19),.tv-lists li:nth-child(20) {
        display: none!important;
    }
}

@media only screen and (max-width: 640px) {
    /*.tv-lists li:nth-child(17),.tv-lists li:nth-child(18) {*/
    /*    display: none!important;*/
    /*}*/
}

.tv-lists .movie-item { 
    height: auto;
}

.tv-lists .movie-cover {
    height: auto;
    max-height: 120px;
}

/* 右侧列表 */
.right-list {
    padding-left: 0;
    margin-top: 10px;
}
.right-list li {
    background-color: #fdfdfd;
    padding: 0 10px;
    list-style: none;
}
.right-list li a {
    display: block;
    line-height: 44px;
    color: #555;
}
.right-list li a:hover {
    color: #f60;
}

.right-list .r-l-right {
    float: right;
    font-size: 12px;
    color: #999;
    display: inline-block;
    margin-left: 10px;
}
/* 右侧列表排行 */
.right-list li:nth-child(1) .am-round {
    background-color: #dd514c;
}
.right-list li:nth-child(2) .am-round {
    background-color: #F37B1D;
}
.right-list li:nth-child(3) .am-round {
    background-color: #5eb95e;
}

/* 首页上次播放 */
#last-watch a {
    color: #DD514C;
}

/* 播放器盒子 */
.player-box {
    height: 600px;
    padding: 0;
    //background: #000 url(../i/loading.gif) no-repeat center;
	background-image:url(../i/loading.gif);
	background-repeat:no-repeat;
	background-position:center;
}
@media only screen and (max-width: 600px) {
    .player-box {
        height: 300px;
    }
}

/*弹动效果*/
.hover-bounce:hover {
    -webkit-animation:bounce 1s .1s ease both;
    -moz-animation:bounce 1s .1s ease both;
}
@-webkit-keyframes bounce {
    0% {
        -webkit-transform:scale(1)
    }
    10%, 20% {
        -webkit-transform:scale(0.8) rotate(-2deg)
    }
    30%, 50%, 70%, 90% {
        -webkit-transform:scale(1.1) rotate(2deg)
    }
    40%, 60%, 80% {
        -webkit-transform:scale(1.1) rotate(-2deg)
    }
    100% {
        -webkit-transform:scale(1) rotate(0)
    }
}

/* 底部导航栏 */ 
.am-navbar .am-navbar-nav, .am-navbar-default .am-navbar-actions {
    background-color: #fff;
    border-top: 1px solid #eee;
}

.am-navbar-default .am-navbar-actions a {
    border-bottom: 0;
}

.am-navbar-default a {
    color: #868686;
}
.am-navbar-nav a .am-navbar-label {
    padding-top: 4px;
}
@media only screen and (min-width: 640px) {
    .am-with-fixed-navbar {
        padding-bottom: 0;
    }
}

.ty-nav{
    font-size: 1.4rem;
    color: #333;
    background-color:transparent!important;
}

.ty-nav-on,.ty-nav:hover{
    color: #5FB878;
    cursor: pointer;
    border-bottom: 2px solid #5FB878;
    background-color:transparent!important;
}

.ty-list>input[type="radio"] {
	top:10;
	margin: 0;
	padding:0;
	display:none;
    //opacity: 0;

}
.ty-list>label {
	position: relative;	
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: 0;
    vertical-align: middle;
	cursor: pointer;
	
	padding: .4em 1em;
	font-size: 1.4rem;
	display: inline-block;
	font-weight: 400;			
}
.ty-list>input:checked+label { 
	color: #5FB878;
	border-bottom: 2px solid #5FB878;
	background-color: transparent;
}

.ty-list>input:checked+label::after {
    width: 0px;
    height: 0px;
	border-bottom: 2px solid #5FB878;
}


.ty-screen__list{
	margin:0;
	position:relative; 
	padding:4px 0 2px 0;
	list-style:none;
}
.ty-screen__list:before{
	content: " "; position: absolute; left: 0; top: 0;right: 100px;
	width: 100%; height: 1px;
	border-top: 1px solid #eee;
}
/*screen .ty-screen__list:first-child{ padding-top: 0;}*/
.ty-screen__list:first-child:before{ display: none;}
.ty-screen__list li{ 
	float:left;
	font-size:16px;
}
.ty-screen__list li span{
	/*display:inline-block;*/
	padding:3px 0 3px
}
.text-muted{
	color: #999999;
	margin-left:5px;
}
.ty-screen__list li a{
	display:inline; /*inline-block*/
	padding: 2px 4px;
	margin-left:4px;
	margin-bottom: 0px;
	color: #333333;
}
.ty-screen__list li a:focus,.ty-screen__list li a:hover,.ty-screen__list li a:active{
	text-decoration:none; 
	color: #5FB878;
}
.ty-screen__list li.active a{
	color: #5FB878;
	background-color: transparent;
	border-bottom: 2px solid #5FB878;
	border-radius:3px
}
@media (max-width: 1023px){
	.ty-screen__list{ padding:0px 0 0; margin: 0 0 0 0px; width:100%; white-space:nowrap; overflow-y:hidden;overflow-x:scroll; -webkit-overflow-scrolling:touch}
	.ty-screen__list li{ float: none; display: inline-block;font-size:15px;}
	.ty-screen__list li a{ padding: 2px 2px;margin-left: 2px;}
	.ty-screen__list li.active a{ border-radius: 1; background: none; }
}
.container:before,.container:after,.row:before,.row:after,.clearfix:before, .clearfix:after{
	display: table; content: " "; clear: both;
}